.uploader-list {
	font-family:Verdana, sans;
	font-size:11px;
	color:#555;
	line-height:1.2em;
}

.uploader-list li {
	overflow:hidden;
	border:1px solid #ccc;
	border-radius:4px;
	margin:0.6em 0;
	padding:0.6em;
}

.uploader-list li div.input {
	width:12px;
	float:left;
	margin-right:10px;
}

.uploader-list li img {
	width:32px;
	float:left;
	margin-right:10px;
	display:block;
}

.uploader-list dl {
	width:400px;
	float:left;
}

.uploader-list dt, .uploader-list dd {
	background:transparent !important;
}


.uploader-queue {
	list-style-type:none;
	font-size:11px;
	font-family:Verdana, sans;
}

.uploader-queue li {
	background:#ccc;
	color:#666;
	overflow:hidden;
	margin:10px 0;
	padding:6px;
}

.uploader-queue-perc {
	width:40px;
	float:right;
	text-align:right;
}

.uploader-queue-progressbar {
	background:#fff;
	height:6px;
	margin:4px 0;
	padding:0;
}

.uploader-progressbar {
	height:6px;
	background:green;
	margin:0;
	padding:0;
/*
	width:0%;
*/
}
